:root {
  /* Color */
  --white-color: #fff;
  --black-color: #010001;
  --green-color: #0bcf5c;
  --black-header-color: #222323;
  --blue-color: #1266D5;
  --red-color: #FF0000;
  --grey-dark-color: #505050;
  --grey-light-color: #bfbfbf;
  --border-grey-color: #dae1e6;
  --background-grey-color: #f7f9fa;
    
  /* Size */
  --space-small: 6px;
  --space-medium : 12px;
  --avatar-size: 36px;

  /* Font size */
  --font-large: 15px;
  --font-sm-heading: 14px;
  --font-medium: 13px;
  --font-small: 12px;
  --font-micro: 10px;
  --font-icon: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Malgun Gothic';
}

body {
  font-size: var(--font-medium);
  font-family: 'Malgun Gothic';
}

ul {
  list-style: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  background-color: inherit;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

input {
  border: none;
}

.sr-only {
  display: none;
}

.wrap {
  min-width: 1190px;
}

.inner {
  box-sizing: content-box;
  position: relative;
  width: 1130px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.border {
  border: 1px solid var(--border-grey-color);
}


/* Header */
header .logo {
  width: 222px;
}

header .logo img {
  width: 100%;
}

header .search {
  display: flex;
  justify-content: space-between;
  margin-left: 27px;
  border: 2px solid var(--green-color);
}

header .search button {
  margin-left: var(--space-medium);
}
header .search input {
  width: 474px;
  height: 56px;
  padding: 3px;
}

header .search button.autocomplete {
  width: 22px;
  height: 56px;
  background-image: url(./assets/auto.jpg);
  background-repeat: no-repeat;
  background-size: 10px 5px;
  background-position: 10px;
}

header .search button:last-child {
  width: 56px;
  height: 56px;
  background-color: var(--green-color);
  font-size: 22px;
  color: #fff;
}

header .service {
  position: absolute;
  top: 12px;
  right: 27px;
}


/* Top bar */
.bar {
  border-right: none;
  border-left: none;
}

nav,
nav > *,
.nav-item {
  display: flex;
  align-items: center;
  font-weight: 700;
}

nav {
  padding: 11px 270px 11px 0;
}

nav li {
  font-size: var(--font-large);
}
nav .nav-item {
  height: 30px;
  margin-left: var(--space-medium);
}

nav .nav-item .green {
  color: var(--green-color);
}

nav .nav-item.mail {
  margin: 0;
}

nav .nav-item.shopping {
  width: 26px;
  height: 20px;
  background-image: url(./assets/shopping.jpg);
  background-size: 26px auto;
  background-position-y: 2.5px;
  background-repeat: no-repeat;
  margin: auto inherit;
}

nav .nav-item.shopping-live {
  width: 60px;
  height: 22px;
  background-image: url(./assets/shopping-live.jpg);
  background-size: 60px auto;
  background-position-y: 1px;
  background-repeat: no-repeat;
  margin: auto inherit;
}

nav .nav-item .icon {
  background-size: contain;
  background-repeat: no-repeat;
}

nav .nav-item.mail .icon {
  width: 20px;
  height: 20px;
  margin: 3px 6px 0 0;
  background-image: url(./assets/mail.jpg);
}


nav .nav-item.tv .icon {
  width: 12px;
  height: 14px;
  margin: 3px 0 0 0;
  background-image: url(./assets/TV.jpg);
}

nav .moreBtn {
  font-weight: 400px;
  margin-left: 17px;
}

nav .moreBtn button span::after {
  content: '';
  display: inline-block;
  width: 11px;
  height: 7px;
  margin-left: 7px;
  background-image: url(./assets/more.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

nav .moreBtn button:hover {
  text-decoration: underline;
}

/* Main Section */
main .inner {
  padding: 20px 30px; 
}

main .inner .left {
  width: 750px;
}

main .left .ad-large img {
  max-width: 100%;
}

main .left .headline {
  display: flex;
  justify-content: space-between;
  padding: 12px 15px 11px;
  margin-top: var(--space-small);
  border: 1px solid var(--border-grey-color);
  background-color: var(--background-grey-color);
}

main .left .press .news-stand {
  padding: 14px 0 16px;
}

main .left .press .news-stand,
main .left .press .news-stand button {
  font-size: var(--font-medium);
  display: flex;
  align-items: flex-end;
}

main .left .press .news-stand h2 {
  font-size: var(--font-medium);
  display: flex;
  align-items: flex-end;
}

main .left .press .news-stand h2::before {
  content: '';
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url(./assets/newsstand.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

main .left .press .news-stand .subscribed-press::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 11px;
  margin: auto 6px;
  background-image: url(./assets/right.jpg);
  background-size: 7px auto;
  background-repeat: no-repeat;
}

main .left .press .news-stand > .all-press::before {
  content: '';  
  background-image: url(./assets/dot.jpg);
  width: 4px;
  height: 4px;
  margin: auto 6px;
  background-size: cover;
  background-repeat: no-repeat;
}

main .left .press .press-table {
  border-collapse: collapse;
}

main .left .press .press-table td {
  border: 1px solid var(--border-grey-color);
  width: calc(750px / 4);
  padding: 22px 0;
  text-align: center;
}

main .left .press .press-table td:hover {
  
}

main .left .press .press-table td img {
  width: auto;
  height: 20px;
}