:root {
  /* Color */
  --white-color: #fff;
  --black-color: #010001;
  --green-color: #0bcf5c;
  --black-header-color: #222323;
  --blue-color: #1266D5;
  --red-color: #FF0000;
  --grey-dark-color: #505050;
  --grey-light-color: #bfbfbf;
  --border-grey-color: #ededed;
  --background-grey-color: #f1f1f1;
    
  /* Size */
  --padding-small: 6px;
  --padding : 12px;
  --avatar-size: 36px;

  /* Font size */
  --font-large: 15px;
  --font-sm-heading: 14px;
  --font-medium: 13px;
  --font-small: 12px;
  --font-micro: 10px;
  --font-icon: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Malgun Gothic';
}

body {
  font-family: 'Malgun Gothic';
}

ul {
  list-style: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  background-color: inherit;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

input {
  border: none;
}

.sr-only {
  display: none;
}

.wrap {
  width: 1130px;
  height: 100vh;
  margin: 0 auto;
}

header {
}

header .top {
  display: block;
  margin: auto 0;
  position: relative;
}

header .logo {
  width: 222px;
  margin: 32px;
}

header .logo img {
  width: 222px;
}

header .service_area {
  position: absolute;
  top: 12px;
  right: 27px;
}

header .search {
  border: 2px solid var(--green-color);
  height: 564px;
  height: 56px;
}

header .search input {
  width: 474px;
}

header .search button {
  background-color: var(--green-color);
}

nav {
  width: 100vh;
  border: 1px solid var(--border-grey-color);
}

nav .nav-wrapper {
  display: flex;
  padding: 11px 0;
}

.green {
  color: var(--green-color);
}

nav .nav-left,
nav .nav-right {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  height: 30px;
}

nav .nav-item {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 20px;
  font-size: var(--font-large);
}

nav .nav-item a {
  font-weight: 700;
}

nav .nav-item.shopping, 
nav .nav-item.shopping-live {
}

nav .nav-item.shopping::before {
  display: flex;
  align-items: center;
  content: '';
  background-image: url("./assets/shopping.jpg");
  background-size: auto 15px;
  background-repeat: no-repeat;
  width: 30px;
  height: 15px;
} 

nav .nav-item.shopping-live::before {
  display: block;
  content: '';
  background-image: url("./assets/shopping-live.jpg");
  background-size: auto 18px;
  background-repeat: no-repeat;
  width: 54px;
  height: 18px;
} 

nav .nav-item.shopping-live {
}

main {
  display: flex;

}

main .left .ad-large img {
  display: inline-block;
  width: 750px; 
  height: 135px; 
  margin: 0px auto; 
}

main .press .press-menu {
  display: flex;
  align-items: center;
}

main .press .press-table {
  width: 750px;
  border: 1px solid var(--grey-light-color);
  border-collapse: collapse;
  text-align: center;
}

main .press .press-table th,
main .press .press-table td {
  width: calc(750px / 6);
  border: 1px solid var(--grey-light-color);
  padding: 23px 0;
}

main .press .press-table img {
  height:  20px;
}
